/*Amy Tu*/

body {
    display: block;
    margin: 8px;
    background-color: white;
    font-family: 'Helvetica Neue LT Pro';
    color: dimgrey;
    text-align: center;
    
}

nav {
    float: left;
    width: 25%;
    height: 100vh;
    background-color: burlywood;
    text-align: center;
}

#headshot {
    height: 45%;
    width: 45%;
    padding: 20px;
}

.links {

    list-style-type: none;
    padding: 0px;
}

li a {
    color: snow;
    text-decoration: none;
    display: block;
    padding: 0.5em 1.5em;
}

li a:hover {
        color: lightblue;
}

.header {
    background-color: burlywood;
    padding: 20px;
    text-align: center;
}

.text {
    display: block;
    font-size: 14px;
    text-align: center;

}

#resume {
    color: lightblue;
}

#resume:hover {
    color: darkblue;
}

ul {
    list-style-type: none;
    padding: 10px;
    text-align: center;
}