/*Amy Tu*/

body {
    display: block;
    margin: 8px;
    background-color: white;
    color: dimgrey;
}

h1 {
    text-align: left;
    font-family: 'Helvetica Neue LT Pro';
}


h3 {
    text-align: left;
    font-family: 'Helvetica Neue LT Pro';
}